@media (prefers-color-scheme: light) {
  /* light themed css  */
  /* css for nav button */

  .NavButton {
    text-decoration: none;
    color: #000;
  }
  /* css for headerr */
  header {
    background: #f1f1f1;
  }
}
